@use './roots/' as roots;
.about{
	background-color: roots.$white-900;
	&__container{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 48px;
		padding-top: 70px;
		@media screen and (min-width:768px) {
			padding-top: 120px;
		}
		@media screen and (min-width:1024px) {
			flex-direction: row;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		gap: 30px;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%; 
		color: roots.$black-600;		
		@media screen and (min-width:1024px) {
			width: 48%;
		}
		@media screen and (min-width:768px) {
			font-size: 16px;
		}
		hr{
			opacity: 0.2;
			background: roots.$text-color;
			width: 100%;
			height: 1px;
			border: none; 
			margin: 0; 
		}
		ul{
			display: flex;
			flex-direction: column;
			gap: 30px;
			li{
				position: relative;
				padding-left: 46px;
				font-size: 14px;
				font-style: normal;
					font-weight: 600;
					line-height: 160%; 
				@media screen and (min-width:768px) {
					font-size: 16px;
				}
				&:before{
					content: '';
					width: 32px;
					height: 32px;
					border-radius: 12px;
					position: absolute;
					top: 0;
					left: 0;
					background: url('../images/list-arrow.svg') center center / 17px no-repeat, roots.$primary;
				}
				span{
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 140%;
					color: roots.$black;
					margin-bottom: 8px;
					display: inline-block;
				}
			}
		}
	}
	&__image{
		position: relative;
		overflow: hidden;
		@media screen and (min-width:1024px) {
			width: 43%;
		}
		img{
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 1;
			object-fit: cover;
		}
		&-anim{
			width: calc(100% - 14px);
			position: absolute;
			height: min-content;
			bottom: 0;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: roots.$primary;
			z-index: 0;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(255, 113, 18, 0.25);
			border-radius: inherit;
			z-index: -1;
			animation: img-rowAnimation 2s linear 1s infinite alternate ;
		}
	}
	}
	&__owner{
		display: flex;
		flex-direction: column;
		gap: 2px;
		border-radius: 20px;
		border: 1px solid roots.$primary;
		background-color: rgba(0, 0, 0, 0.50);
		backdrop-filter: blur(16px);
		padding: 18px;	
		max-width:280px;	
		width: 100%;
		position: absolute;
		left: 50%;
		bottom: 78px;
		transform: translateX(-50%);
		@media screen and (min-width:768px) {
			padding: 20px;
			bottom: 55px;
		}
		span{
			&:nth-of-type(1){
				font-size: 18px;
				color: roots.$white;				
				font-style: normal;
				font-weight: 700;
				line-height: 150%;
				@media screen and (min-width:768px) {
					font-size: 20px;
				}
			}
			&:nth-last-of-type(1){
				font-size: 14px;
				color: rgba(255, 255, 255, 0.75);
				@media screen and (min-width:768px) {
					font-size: 15px;
				}
			}
		}
	}
}