@use './roots/' as roots;
.area{
	&__container{
		display: flex;
		padding: 20px 20px 32px 20px;
		border-radius: 32px;
		background: #F3F3F3;
		gap: 20px;
		color: roots.$black-500;
		flex-direction: column;
		@media screen and (min-width:768px) {
			padding: 48px;
			border-radius: 48px;
			gap: 48px;
		}
		@media screen and (min-width:1024px) {
			flex-direction: row;
			justify-content: space-between;
		}
		
	}
	&__frame{
		border-radius: 24px;
		
		max-height: 277px;
		@media screen and (min-width:1024px) {
			width: 52%;
		}
		@media screen and (min-width:768px) {
			max-height: 485px;
			border-radius: 32px;
		}
		@media screen and (max-width:1023.9px) {
			aspect-ratio: 1 / 1.05;
		}
		iframe, img{
			border-radius: inherit;
			height: 100%;
			max-width: 100%;
			width: 100%;
			
		}
	}
	&__content{
		@media screen and (min-width:1024px) {
			width: 44%;
		}
		h2{
			font-size: 24px;			
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			margin-bottom: 20px;
			color: roots.$text-color;
			@media screen and (min-width:768px) {
			font-size: 30px;
			}
		}
		p, ul, ol{
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 160%;
			margin-bottom: 30px;
			color: roots.$black-500;
		}
	}
	&__items{
		display: flex;
		padding: 24px 30px;
		flex-direction: column;
		gap: 24px;
		border-radius: 16px;
		border: 1px solid roots.$primary;
		background: roots.$white;
		margin-bottom: 32px;
		@media screen and (min-width:768px) {
			margin-bottom: 48px;
		}
		& *{
			color:roots.$text-color
		}
		span{
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%;

		}
		ul{
			display: flex;
			flex-direction: column;
			gap: 16px;
		
			@media screen and (min-width:768px) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 24px;
			}
			li{
				padding-left: 32px;
				position: relative;
				&:before{
					content: '';
					width: 24px;
					height: 24px;
					position: absolute;
					top: 0;
					left: 0;
					background: url('../images/local.svg') center center / 15px  no-repeat;
				}
			}
		}
		
	}

	&__btns{
		display: flex;
		flex-direction: column;
		gap: 32px;
		align-items: center;
		@media screen and (min-width:1440px) {
			flex-direction: row;			
		}
		.btn-row-wrap {
			a{
				color: inherit;
			}
			ul{
				margin-bottom: 0;
			}
			li{
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
}