@use './roots/' as roots;
.contact{
&__wrap{
	display: flex;
	gap: 32px;
	flex-direction: column;
	@media screen and (min-width:1024px) {
		flex-direction: row;
	}
}
	h2{
		margin: 0 auto;
		width: fit-content;
		margin-bottom: 64px;
	}
	&__blocks{
		@media screen and (min-width:1024px) {
			width: 36%;
		}
	}

	&__items{
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 40px;
	}
	&__item.btn-row{
		display: flex;
		padding: 40px 32px;
		align-items: center;
		border-radius: 20px;
		background: roots.$white;
		box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.08);
		& *{
			color: roots.$text-color;
		}
	}
&__form{
	display: flex;
	position: relative;
	@media screen and (min-width:1024px) {
			width: 58%;
		}
	.form-img{
		object-fit: cover;
		border-radius: 32px 32px 0 0;
		width: 100%;
		
		@media screen and (min-width:768px) {
			width: 31%;
			border-radius: 32px 0 0 32px;
		}
		@media screen and (max-width:767.9px) {
			max-height: 120px;
		}
	}
	&__wrap{
		display: flex;
		flex-direction: column;
		gap: 24px;
		border-radius: 0 0 32px 32px;
		padding: 20px;
		background: roots.$white;
		box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.08);
		position: relative;
		@media screen and (min-width:768px) {
			width: 69%;
			padding: 32px;
			border-radius: 0 32px 32px 0;			
		}

		.form-title{
			font-size: 25px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%;

		}
	}
}
&__socials{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
	flex-direction: column-reverse;
	@media screen and (min-width:768px) {
		flex-direction: row;
	}
	span{
		max-width: 100%;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;		

		@media screen and (min-width:768px) {
			max-width: 125px;
		}
	}
	& .socials a{
		max-width: 48px;
		max-height: 48px;
	}
	&-items{
	a{
		border-color: rgba(22, 22, 22, 0.40);
	
	}
}
}
	form{
	display: flex;
	flex-wrap: wrap;
	gap: 13px;
	label{
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 14.4px */
	letter-spacing: 0.24px;
	color: #8B8B8B;
	&:has(input[type="checkbox"]){
		color: roots.$black-500;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
		margin-bottom: 11px;
		a{
			color: roots.$secondary-800;
			text-decoration: underline;
		}
		div{
			position: relative;
			width: 20px;
			height: 20px;	
				display: inline-block;
		
		
		}
	}
	}
	textarea{
			min-height: 120px;
			resize: none;
		}
	input,
	textarea{
		width: 100%;
		padding: 15px 10px;
		border-radius: 8px;
		background: #F3F3F3;
		border-radius: 8px;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%; /* 14.4px */
		letter-spacing: 0.24px;
		color: roots.$primary;
		border: 2px solid transparent;
		outline: none;
		&::placeholder{
			font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%; /* 14.4px */
		letter-spacing: 0.24px;
		color: #434343;
		opacity: 1;
		}
		
	}
	input[type="checkbox"]{
		width: 20px;
		height: 20px;		
		appearance: none;
		position: relative;
		padding: 0px;
		background: transparent;
		margin: 0;
		border: none;
		border-radius: 4px;
		margin-right: 12px;
			&:after{
				content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transition: .3s linear;
			border: 0.5px solid roots.$secondary;
			z-index: 1;
			border-radius: 4px;
		}
		&:checked{
			&:after{
			background: url(../images/check.svg) center center / 10px no-repeat, roots.$secondary;
			}
		}
	}
}

.form-group{
	display: flex;
	width: calc((100% / 2) - 10px);
	position: relative;
	flex-direction: column;
	gap: 8px;
	input,
	textarea{
		padding-left: 36px;		
	}
	&.valid{
		input{
			border-color: #1DB956;
		}
	}
	&.invalid{
		input{
		border-color:#DC2828;
		}		
	}
	&.message-group{
		width: 100%;
		&:before{
			background-image: url(../images/message.svg);
		}
	}
	&:before{
		content: '';
		width: 14px;
		height: 14px;
		opacity: .8;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 38px;
		left: 12px;
	}
	&.name:before{
			background-image: url(../images/name.svg);
		}
	&.email:before{
			background-image: url(../images/email.svg);
		}
	&.phone:before{
			background-image: url(../images/phone.svg);
		}
	&.zip:before{
			background-image: url(../images/zip.svg);
		}
	
}
.input__wrap{
	display: flex;
	gap: 24px;
	position: relative;
	max-width: fit-content;
	width: 100%;
	cursor: pointer;
	input{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}
}
.form__sent{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	padding: 32px;
	background-color: roots.$white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	opacity: 0;
	transition: .3s linear;
	visibility: hidden;

	.sent &{
		opacity: 1;
		visibility: visible;
		z-index: 1;
	}

	.close-form & {
		opacity: 0;
		visibility: 0;
		z-index: -1;
	} 

	.close{
		position: absolute;
		top: 32px;
		right: 32px;
		width: 16px;
		height: 16px;
	}
	img{
			max-width: 100px;
			max-height: 100px;
			aspect-ratio: 1;
			margin: 0 auto;
			margin-bottom: 24px;
			border-radius: 500px;
		}
		div{
			margin: 0 auto;
			font-size: 25px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%;
		}	
}

