@use './roots/' as *;
.accord {
    display: flex;
    flex-direction: column;
}

.accord-item {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.accord-item-top {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: 0.3s linear;
}

.accord-item-bottom {
		margin-top: -37px;
		padding: 37px 24px 0 24px;
   	transition: all 300ms linear;
		will-change: opacity, max-height, visibility;				
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		will-change: opacity, max-height;
		transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	
	}

.icon-wrapper {
    position: relative;
    margin-left: auto;
}

.accord-item.active .accord-item-bottom {
	visibility: visible;
	opacity: 0;
	max-height: 5000px;
	overflow: visible;
	opacity: 1;
	padding: 37px 24px 24px 24px;
	margin-top:-16px;
		transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	

}
.faq__items{
	display: flex;
	flex-direction: column;
	gap: 16px;
	@media screen and (min-width:768px) {
		gap: 20px;
	}
}

.faq h2:not(.faq__item__top h2){
	margin-bottom: 32px;
	@media screen and (min-width:768px) {
		margin-bottom: 64px;
	}
}

.faq__item__top{
	padding: 28px 24px;
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.20);
	background: #F3F3F3;
	gap: 15px;
	
}

.faq__item.active  .faq__item__top p,
.faq__item.active  .faq__item__top h2,
.faq__item.active  .faq__item__top h3{
	color: $white;
}


.faq__item.active  .faq__item__top{
	background-color: $primary;
}

.faq__item.active  .faq-icon-wrapper{
	&::before{
		transform: translate(-50%) rotate(0deg);
	}
}

 .faq__item__top *{
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: 0.18px;
		color: $text-color;
		@media screen and (min-width:768px) {
			font-size: 20px;
			letter-spacing: 0.2px;
		}
}

.faq-icon-wrapper{
	margin-left: auto;
	position: relative;
	width: 36px;
	height: 36px;
	flex-shrink: 0;
	aspect-ratio: 1/1;
	background-color: $text-color;
	border-radius: 50%;
	transition: .3s linear;
	border-radius: 7.5px;
}

.faq-icon-wrapper:before,
.faq-icon-wrapper:after{
	content: '';
	position: absolute;
	width: 16px;
	height: 2px;
	border-radius: 500px;
	background-color: $white;
	transition: .3s linear;
}

.faq-icon-wrapper:before{
	top: 50%;
	left: 50%;
	transform: translate(-50%) rotate(90deg);
}
.faq-icon-wrapper:after{
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

.faq__item-bottom{
	border-radius: 0 0 24px 24px;
	border: 1px solid $primary;
	border-top-color: transparent;
	background: $white;
	

}

.faq__item-bottom-wrap *{	
	color: $black-500;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 160%;
}
.faq{
	&__container{
		display: flex;
		flex-direction: column-reverse;
		gap: 64px;
		@media screen and (min-width:1024px) {
			flex-direction: row;
		}

	}
	&__img{
		width: 100%;
		border-radius: 32px;
		position: relative;
		@media screen and (min-width:1024px) {
			width: 41%;
		}
		img{
			position: relative;
			z-index:1;
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			height: 100%;
			max-height: 542px;
			min-height: 542px;
			border-radius: inherit;
			object-fit: cover;
			@media screen and (min-width:768px) {
				max-height: 810px;
			}
		}
		&__info{
			display: flex;
			flex-direction: column;
			gap: 32px;
			color: $white;
			position: absolute;
			padding: 32px;
			border-radius: 30px;
			background: #1B1B1B;
			bottom: 8px;
			left: 8px;
			z-index: 2;
			@media screen and (min-width:768px) {
				max-width: 367px;
			}
			div{
				span{
					font-size: 22px;					
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					@media screen and (min-width:768px) {
						font-size: 25px;
					}
				}
				p{
					font-size: 14px;
					
					font-style: normal;
					font-weight: 500;
					line-height: 160%;
					@media screen and (min-width:768px) {
						font-size: 16px;
					}
				}
			}
		}
	}
	&__wrap{
		@media screen and (min-width:1024px) {
			width: calc(100% - 41% - 64px);
		}
	}
}