@use './roots/' as *;
.footer{
	background-color: $black-900;
	background-image:url(../images/pattern.png);
	background-position: center;
	border-radius: 32px 32px 0 0;
		@media screen and (min-width:768px) {
			border-radius: 48px 48px 0 0 ;
		}
	&__container{
		display: flex;
		flex-direction: column;
		gap: 32px;
		color: $white;
		padding: 70px 0;
		@media screen and (min-width:768px) {
			padding:90px 0;
			gap: 64px;
		}
		hr{
			width: 100%;
			height: 1px;
			border: none; 
			margin: 0; 
			background: rgba(255, 255, 255, 0.20);
		}
	}
	& .logo{
		max-width: 200px;
		width: 100%;
		display: inline-block;
		img{
			max-width: 100%;
			max-height: fit-content;
			width: 100%;
			height: fit-content;
		}
	}
	&__top{
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		flex-direction: column;
		@media screen and (min-width:1024px) {
			justify-content: space-between;
			flex-direction: row;
		}
		nav{
			ul{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 34px;
				@media screen and (min-width:768px) {
					flex-direction: row;
				}
				a{
					color: $white-750;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 130%;
					text-transform: uppercase;
				}

			}
		}
	}
	&__contacts{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 20px;
		flex-direction: column;
		@media screen and (min-width:1024px) {
			align-items: center;
			flex-direction: row;
		}
		&__item{
		display:flex;
		flex-direction: column;
		gap: 14px;
		span{
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			color: $white-750;
		}
		div, a{
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: 130%;
		}
		a{
			transition: .3s linear;
			&:hover{
				color: $primary;
			}
		}
		div{
			a, span{
				color: $primary;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: 130%;
			}
		}
	}
	}
	&__bottom{
			display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 20px;
		flex-direction: column;
			@media screen and (min-width:1024px) {
			align-items: center;
			flex-direction: row;
		}
		& .socials a{
			min-width: 48px;
			@media screen and (min-width:768px) {
				min-width:64px;
			}
		}
	}
	&__copy{
		border-radius: 32px 32px 0 0;
		background-color: $primary;
		padding: 24px 0;
		@media screen and (min-width:768px) {
			border-radius: 48px 48px 0 0;
		}
		p{
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			color: $text-color;
		}
		nav{
			ul{
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 24px;
				max-width: 300px;
				li{
					width: fit-content;
					a{
						font-size: 16px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						color: $black-500;
						text-decoration: underline;
						transition: .3s linear;
						&:hover{
							color: $white;
						}
					}
				}
			}
		}
		
		&__container{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 32px;
			@media screen and (min-width:768px) {
				flex-wrap: wrap;
				flex-direction: row;
			}
			div{
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: fit-content;
			gap: 12px;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			color: $text-color;
			img{
				max-width: 135px;
				width: 100%;
			}
		}
		}
	}
}