@use './roots/' as roots;
.hero{
	margin-top: -70px;
	background:  linear-gradient(0deg, rgba(50, 50, 50, 0.40) 0%, rgba(50, 50, 50, 0.40) 100%),url('../images/hero-bg.webp') center center / cover no-repeat, #DFDFDF;
	&__container{
		padding: 90px 0 64px;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 32px;
		justify-content: space-between;
		@media screen and (min-width:768px) {
			padding: 130px 0 96px;
		}
		@media screen and (min-width:1024px) {
			flex-direction: row;
			align-items: flex-end;
		}
	}
	&__content{
		color: roots.$white;
		@media screen and (min-width:1024px) {
			width: 46%;
		}
		h1{
			margin-bottom: 24px;
		}
		& .btns{
			justify-content: center;
			@media screen and (min-width:1024px) {
				justify-content: flex-end;
			}
		}
		&__info{
			display: flex;
			gap: 10px;
			align-items: flex-start;
			margin-bottom: 32px;
			@media screen and (min-width:768px) {
				margin-bottom: 80px;
			}
			&-icon{
				max-width:40px;
				width: 100%;
				max-height:40px;
				height: 100%;
				aspect-ratio: 1/1;
				@media screen and (min-width:768px) {
					max-width: 80px;
					max-height: 80px;
				}
				svg{
					width: inherit;
					height: inherit;
				}
			}
			&-text{
				display: flex;
				flex-direction: column;
				gap: 6px;
				border-radius: 0 20px 20px 20px;
				position: relative;
				padding: 12px 20px;
				border: 2px solid transparent;
				background:
					linear-gradient(roots.$black-600, roots.$black-600) padding-box,
					linear-gradient(90deg, rgba(255,255,255,0.1) 100%, rgba(22,22,22,0.1) 100%) border-box;
					width: calc(100% - 50px);
					font-size: 12px;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: 160%;
				@media screen and (min-width:768px) {
					padding: 24px 20px;
				}
				@media screen and (min-width:1024px) {
					width: calc(100% - 90px);
				}
					div{
							display: flex;
							align-items: center;
							justify-content: flex-end;
							margin-left: auto;
							font-size: 10px;
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
							line-height: 160%;
							gap: 5px;
							svg{
								width: 15px;
								height: 9px;
							}
					}
					
				}
		}
	}
	&__reviews{
		display: flex;
		justify-content: center;
		gap: 11px;
		flex-wrap: wrap;
		width: fit-content;
		@media screen and (min-width:768px) {
			gap: 16px;
		}
		@media screen and (min-width:1024px) {
			width: 36%;
		}
		&__item{
			display: flex;
			padding: 8px 12px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: calc((100% / 3) - 16px);
			border-radius: 12px;
			background: #FFF;
			box-shadow: 0 2.505px 30.059px 0 rgba(0, 0, 0, 0.15);
			max-height: 70px;
		}
		img{
			width: 100%;
			height: 100%;
			max-width: fit-content;
			max-height:fit-content;
		}
	}
}