@use './roots/' as *; 
.social{
	
	// &__title{
	// 	align-items: flex-end;
	// 	margin-bottom: 11px;
	// 	@media screen and (min-width:1024px) {
	// 		padding-top: 28px;
	// 	}
	// 	h2{
	// 		text-align: left;
	// 		@media screen and (min-width:1440px) {
	// 			width: 50%;
	// 		}
	// 	}
	// }
	// &__items{
	// 	padding: 10px 20px 10px 10px;
	// 	border-radius: 500px;
	// 	border: 1px solid $primary;
	// 	background: #FFF;
	// 	display: flex;
	// 	gap: 20px;
	// 	position: relative;
	// 	color: $secondary;
	// 	align-items: center;
	// 	@media screen and (min-width:768px) {
	// 		padding-right: 32px;
	// 	}
	// 	span{
	// 		position: absolute;
	// 		top: -28px;
	// 		left: 50%;
	// 		transform: translateX(-50%);
	// 		display: flex;
	// 		padding: 5px 14px;
	// 		justify-content: center;
	// 		align-items: center;
	// 		gap: 10px;
	// 		border-radius: 500px;
	// 		background: $yellow;
	// 		font-size: 18px;
	// 		font-style: normal;
	// 		font-weight: 500;
	// 		line-height: 140%; /* 25.2px */
	// 		text-transform: lowercase;
	// 	}
	// 	@media screen and (max-width:375px) {
	// 		flex-wrap: wrap;
	// 		align-items: center;
	// 		justify-content: center;
	// 	}
	// }
	// &__link{
	// 	font-size: 18px;
	// 	font-style: normal;
	// 	font-weight: 700;
	// 	line-height: 140%;
	// 	@media  screen and (min-width:768px) and (max-width:1439.9px){
	// 		font-size: 24px;
	// 	}
	// 	@media  screen and (min-width:1440px) {
	// 		font-size: 30px;
	// 	}
	// }
	// &__links{
	// 	display: flex;
	// 	align-items: center;
	// 	gap: 10px;
	// 	a{
	// 		background-color: $primary;
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		border-radius: 500px;
	// 		max-width: 32px;
	// 		max-height: 32px;
	// 		min-width:32px;
	// 		width: 100%;
	// 		height: 100%;
	// 		aspect-ratio: 1;
	// 		transition: .3s linear;
	// 		&:hover{
	// 			background-color: $secondary;
	// 		}
	// 		@media screen and (min-width:1920px) {
	// 			max-width: 65px;
	// 			max-height: 65px;
	// 			min-width:65px;
	// 		}
	// 		@media screen and (min-width:1024px)  and (max-width:1919.9px){
	// 			max-width: 48px;
	// 			max-height: 48px;
	// 			min-width:48px;
	// 		}
	// 		& svg{
	// 			max-width: 20px;
	// 			@media screen and (min-width:1920px) {
	// 			max-width: 32px;
	// 		}
	// 		@media screen and (min-width:1024px)  and (max-width:1440px){
	// 			max-width: 23px;
	// 		}
	// 		}
	// 	}
	// }

}