@use './roots/' as roots;
.work{
	background-color: roots.$white-900;
	&__container{
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		flex-direction: column;
		@media screen and (min-width:768px) {
			flex-direction: row;
		}

	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		gap: 18px;
		align-items: flex-start;

	}
	&__item{
		display: flex;
		padding: 16px 16px 24px 16px;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		background-color: roots.$black-800;
		width: 100%;
		border-radius: 32px;
		 align-self: flex-start;
		@media screen and (min-width:1024px) {
			width: calc((100% / 3) - 18px);
		}
		@media screen and (min-width:768px) and (max-width:1023.9px) {
			width: calc((100% / 2) - 9px);
		}
		&:nth-child(3n+2){
				@media screen and (min-width:1024px) {
				margin-top: 36px;
			}
		}
		&__img{
			border-radius: 24px;
			max-height: 210px;
			width: 100%;
			min-height: 210px;
			img{
				max-width: 100%;
				max-height: 210px;
				width: 100%;
				height: 100%;
				min-height: 210px;
				object-fit: cover;
				border-radius: inherit;
			}
		}
		&__content{
			display: flex;
			flex-direction: column;
			gap: 20px;
			p{
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 150%;
				color: roots.$white-750;
				@media screen and (min-width:768px) {
					font-size: 18px;
				}
			}
			ul{
				display: flex;
				flex-direction: column;
				gap: 11px;
				li{
					position: relative;
					padding-left: 34px;
					color: roots.$white;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: 140%;
					&:before{
						content: '';
						width: 24px;
						height: 24px;
						position: absolute;
						top: 0;
						left: 0;
						border-radius: 8px;
						background: url('../images/check2.svg') center center / 10px no-repeat, roots.$secondary-800;
					}
				}
			}
		}
		&__title{
			display: flex;
			align-items: center;
			gap: 14px;
			color: roots.$white;
			span{
				background-color: roots.$primary;
				border-radius: 10px;
				font-size: 22px;
				font-style: normal;
				font-weight: 800;
				line-height: 120%; 
				letter-spacing: -0.3px;
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 48px;
				max-height: 48px;
				width: 100%;
				height: 100%;
				aspect-ratio: 1;
				@media screen and (min-width:768px) {
					font-size: 30px;
					max-width: 64px;
				max-height: 64px;
				}
			}
		}
	}
}