/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "RF Dewi";
  src: url(../fonts/RFDewi-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "RF Dewi";
  src: url(../fonts/RFDewi-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "RF Dewi";
  src: url(../fonts/RFDewi-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "RF Dewi";
  src: url(../fonts/RFDewi-Ultrabold.ttf);
  font-weight: 800;
}
h2 {
  font-family: "RF Dewi";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.44px;
  }
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
    letter-spacing: -0.45px;
  }
}
h1 strong {
  font-weight: 800;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

html.open,
html.open-popup {
  overflow: hidden;
}

.container-s {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.container-m {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.container-l {
  max-width: 1340px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "RF Dewi";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.p-m {
  padding: 70px 0;
}
@media screen and (min-width: 768px) {
  .p-m {
    padding: 120px 0;
  }
}

.mb-m {
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .mb-m {
    margin-bottom: 120px;
  }
}

.justify-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .justify-title {
    flex-direction: row;
  }
}

.btn-primary {
  border-radius: 500px;
  border: 1px solid #F56200;
  background: #fff;
  padding: 0;
  padding-right: 45px;
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: padding-right 0.3s linear, width 0.3s linear;
  will-change: padding-right;
  box-shadow: 0 0 100px 0 rgba(245, 98, 0, 0.4), 0 0 43.594px 0 rgba(245, 98, 0, 0.27), 0 0 16.25px 0 rgba(245, 98, 0, 0.2), 0 0 5.781px 0 rgba(245, 98, 0, 0.13);
  text-transform: uppercase;
}
.btn-primary:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: opacity 0.3s linear;
  will-change: opacity;
  opacity: 1;
  background: url("../images/btn-arrow.svg") center center/17px no-repeat;
}
.btn-primary span {
  border-radius: 500px;
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
  text-transform: capitalize;
  transition: 0.3s linear;
  transition: width 0.3s linear;
  will-change: width;
  display: inline-block;
  position: relative;
  z-index: 1;
  background-color: #F56200;
  transition: padding 0.3s linear, width 0.3s linear;
  will-change: padding;
}
.btn-primary:hover {
  padding-right: 0;
}
.btn-primary:hover:after {
  opacity: 0;
}
.btn-primary:hover span {
  padding: 18px 46.5px;
}

.btn-row {
  display: flex;
  gap: 20px;
  align-items: center;
}
.btn-row-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.btn-row-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #F56200;
  position: relative;
  border-radius: 12px;
  aspect-ratio: 1;
  max-height: 40px;
  z-index: 1;
}
.btn-row-icon.animate:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 113, 18, 0.25);
  border-radius: inherit;
  z-index: -1;
  animation: btn-rowAnimation 2s linear 1s infinite alternate;
}
.btn-row-icon svg {
  width: 20px;
  height: 20px;
}
.btn-row a {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: 0.3s linear;
}
@media screen and (min-width: 768px) {
  .btn-row a {
    font-size: 24px;
  }
}
.btn-row a:hover {
  color: #F56200;
}
.btn-row span {
  color: #4be46b;
  background-color: #0F3F19;
  padding: 3px 6px;
  border-radius: 500px;
  border: 0.5px solid #37E15B;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}
.btn-row span span {
  display: inline-block;
  padding: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: #37E15B;
}
.btn-row ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.65);
}
.btn-row ul strong {
  font-weight: 700;
}

@keyframes btn-rowAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes img-rowAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.btns {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .btns {
    gap: 48px;
  }
}
.btns.btns-revers {
  flex-direction: row-reverse;
}

.logo {
  max-width: 166px;
  height: -moz-fit-content;
  height: fit-content;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  aspect-ratio: 1;
  max-width: 64px;
  max-height: 64px;
  padding: 13px;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  min-width: 64px;
}
.socials a:hover {
  background-color: #F56200;
}

.breadcrumbs {
  padding: 40px 0 70px 0px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .breadcrumbs {
    padding: 40px 0 100px 0px;
  }
}
.breadcrumbs__container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.breadcrumbs__links {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #161616;
}
.breadcrumbs__links a {
  transition: 0.3s linear;
}
.breadcrumbs__links a:hover {
  color: #F56200;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (min-width: 768px) {
  .article {
    gap: 32px;
  }
}
.article * {
  color: #161616;
}
.article * a, .article * ul, .article * ol, .article * span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.article * a, .article * strong {
  font-weight: 800;
}
.article * a {
  transition: 0.3s linear;
}
.article * a:hover {
  color: #F56200;
}
.article * p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.article ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.article ul li {
  position: relative;
  padding-left: 42px;
}
.article ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 17px;
  height: 12px;
  background: url(../images/content-list-arrow.svg) center center/cover no-repeat;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
}
@media screen and (min-width: 1024px) {
  .header {
    background-color: #0F0F0F;
    background-image: url(../images/pattern.png);
    background-position: center;
  }
}
.header__top {
  position: relative;
  z-index: 50;
}
@media screen and (max-width: 1023.9px) {
  .header__top {
    background-color: #0F0F0F;
    background-image: url(../images/pattern.png);
    background-position: center;
    border-radius: 0 0 38px 38px;
  }
}
.header__top__container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 14px 0;
}
@media screen and (max-width: 1023.9px) {
  .header__top__container .btns {
    display: none;
  }
}
.header__bottom {
  background-color: #242424;
}
@media screen and (min-width: 1024px) {
  .header__bottom {
    border-radius: 500px;
    padding: 24px 0;
  }
}
@media screen and (max-width: 1023.9px) {
  .header__bottom {
    position: fixed;
    top: 49px;
    height: calc(100vh - 49px);
    width: 100%;
    z-index: 49;
    left: -100%;
    transition: 0.3s linear;
  }
  .open .header__bottom {
    left: 0;
  }
}
.header__bottom__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}
@media screen and (max-width: 1023.9px) {
  .header__bottom__container {
    align-items: flex-start;
  }
}
.header__bottom__container ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  display: flex;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .header__bottom__container ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }
}
.header__bottom__container ul li {
  transition: 0.3s linear;
}
.header__bottom__container ul li:hover {
  color: #F56200;
}
.header__bottom__container .btns {
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  .header__bottom__container .btns {
    display: none;
  }
}

.burger {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  border-radius: 14px;
  background: #F56200;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
}
.burger span {
  width: 26px;
  height: 2px;
  border-radius: 500px;
  background-color: #fff;
  transition: 0.3s linear;
  position: absolute;
  left: 11px;
}
.burger span:nth-of-type(1) {
  top: 19px;
}
.open .burger span:nth-of-type(1) {
  transform: translate(-1px, 2px) rotate(45deg);
}
.burger span:nth-of-type(2) {
  bottom: 19px;
}
.open .burger span:nth-of-type(2) {
  transform: translate(-2px, -6px) rotate(-45deg);
}

.hero {
  margin-top: -70px;
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.4) 0%, rgba(50, 50, 50, 0.4) 100%), url("../images/hero-bg.webp") center center/cover no-repeat, #DFDFDF;
}
.hero__container {
  padding: 90px 0 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding: 130px 0 96px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container {
    flex-direction: row;
    align-items: flex-end;
  }
}
.hero__content {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero__content {
    width: 46%;
  }
}
.hero__content h1 {
  margin-bottom: 24px;
}
.hero__content .btns {
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  .hero__content .btns {
    justify-content: flex-end;
    gap: 32px;
  }
}
.hero__content__info {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero__content__info {
    margin-bottom: 80px;
  }
}
.hero__content__info-icon {
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 768px) {
  .hero__content__info-icon {
    max-width: 80px;
    max-height: 80px;
  }
}
.hero__content__info-icon svg {
  width: inherit;
  height: inherit;
}
.hero__content__info-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 0 20px 20px 20px;
  position: relative;
  padding: 12px 20px;
  border: 2px solid transparent;
  background: linear-gradient(#2C2C2C, #2C2C2C) padding-box, linear-gradient(90deg, rgba(255, 255, 255, 0.1) 100%, rgba(22, 22, 22, 0.1) 100%) border-box;
  width: calc(100% - 50px);
  font-size: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
@media screen and (min-width: 768px) {
  .hero__content__info-text {
    padding: 24px 20px;
    border-radius: 0 32px 32px 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__content__info-text {
    width: calc(100% - 90px);
  }
}
.hero__content__info-text span {
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 21px */
  letter-spacing: 0.14px;
}
@media screen and (min-width: 768px) {
  .hero__content__info-text span {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}
.hero__content__info-text div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  gap: 5px;
}
.hero__content__info-text div svg {
  width: 15px;
  height: 9px;
}
.hero__reviews {
  display: flex;
  justify-content: center;
  gap: 11px;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .hero__reviews {
    gap: 16px;
    min-height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__reviews {
    width: 36%;
  }
}
.hero__reviews__item {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.3333333333% - 16px);
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 2.505px 30.059px 0 rgba(0, 0, 0, 0.15);
  max-height: 70px;
}
.hero__reviews img {
  width: 100%;
  height: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.about {
  background-color: #F5F3ED;
}
.about__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 48px;
  padding-top: 70px;
}
@media screen and (min-width: 768px) {
  .about__container {
    padding-top: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .about__container {
    flex-direction: row;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #2C2C2C;
}
@media screen and (min-width: 1024px) {
  .about__content {
    width: 46%;
  }
}
@media screen and (min-width: 768px) {
  .about__content {
    font-size: 18px;
  }
}
.about__content hr {
  opacity: 0.2;
  background: #161616;
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
}
.about__content ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__content ul li {
  position: relative;
  padding-left: 46px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
@media screen and (min-width: 768px) {
  .about__content ul li {
    font-size: 16px;
  }
}
.about__content ul li:before {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/list-arrow.svg") center center/17px no-repeat, #F56200;
}
.about__content ul li span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #000;
  margin-bottom: 8px;
  display: inline-block;
}
.about__image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .about__image {
    width: 48%;
  }
}
.about__image img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 570px;
  margin: 0 auto;
}
.about__image-anim {
  width: calc(100% - 14px);
  position: absolute;
  bottom: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #F56200;
  z-index: 0;
  max-height: 547px;
  max-width: 547px;
}
.about__image-anim:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 113, 18, 0.25);
  border-radius: inherit;
  z-index: -1;
  animation: img-rowAnimation 2s linear 1s infinite alternate;
}
.about__owner {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 20px;
  border: 1px solid #F56200;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 18px;
  max-width: 280px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 78px;
  transform: translateX(-50%);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .about__owner {
    padding: 20px;
    bottom: 55px;
  }
}
.about__owner span:nth-of-type(1) {
  font-size: 18px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .about__owner span:nth-of-type(1) {
    font-size: 20px;
  }
}
.about__owner span:nth-last-of-type(1) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (min-width: 768px) {
  .about__owner span:nth-last-of-type(1) {
    font-size: 15px;
  }
}

.services {
  padding: 70px 0;
  background-color: #0F0F0F;
  background-image: url(../images/pattern.png);
  background-position: center;
}
@media screen and (min-width: 768px) {
  .services {
    padding: 120px 0;
  }
}
.services__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 676px;
  margin: auto;
  text-align: center;
}
.services__title h2 {
  margin-bottom: 18px;
  color: #fff;
}
.services__title p {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .services__title p {
    font-size: 18px;
  }
}
.services ul.services__list {
  padding: 40px 0 30px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: hidden;
  overflow-x: auto;
}
@media screen and (min-width: 1024px) {
  .services ul.services__list {
    justify-content: center;
    padding: 64px 0;
  }
}
@media screen and (max-width: 1023.9px) {
  .services ul.services__list {
    margin-left: -20px;
    margin-right: -19px;
  }
}
.services__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  border-radius: 14px;
  background-color: #323232;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  transition: 0.3s linear;
}
.services__list-item span {
  border-radius: 8px;
  background-color: #989898;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__list-item span svg {
  transition: 0.3s linear;
}
.services__list-item span svg path {
  transition: 0.3s linear;
}
.services__list-item.active, .services__list-item:hover {
  background-color: #F56200;
  color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 48px 0 rgba(245, 98, 0, 0.2), 0 0 43.594px 0 rgba(245, 98, 0, 0.27), 0 0 16.25px 0 rgba(245, 98, 0, 0.2), 0 0 5.781px 0 rgba(245, 98, 0, 0.13);
}
.services__list-item.active span, .services__list-item:hover span {
  background-color: #fff;
}
.services__list-item.active span svg, .services__list-item:hover span svg {
  transform: rotate(90deg);
}
.services__list-item.active span svg path, .services__list-item:hover span svg path {
  stroke: #F56200;
}
.services__content {
  margin-bottom: 64px;
}
.services__content__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .services__content__wrap {
    display: grid;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .services__content__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .services__content__wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
.services__item {
  display: flex;
  flex-grow: 1;
  width: 100%;
  position: relative;
  height: auto;
}
.services__item__count {
  background-color: #F56200;
  color: #fff;
  border-radius: 14px;
  max-width: 64px;
  max-height: 64px;
  padding: 12px;
  aspect-ratio: 1;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
}
.services__item__img {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 0;
  border-radius: 20px 48px 20px 20px;
  max-height: 270px;
  width: calc(100% - 40px);
}
@media screen and (min-width: 768px) {
  .services__item__img {
    border-radius: 18px 64px 18px 18px;
  }
}
.services__item__img img {
  max-width: 100%;
  max-height: inherit;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__item__content {
  margin-top: 140px;
  flex-grow: 1;
  padding: 154px 24px 24px 24px;
  background-color: #242424;
  border-radius: 24px 64px 24px 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.services__item__content h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
@media screen and (min-width: 768px) {
  .services__item__content h3 {
    font-size: 25px;
  }
}
.services__item__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #E1E1E1;
}
.services__contacts {
  display: flex;
  color: #fff;
  flex-direction: column;
  gap: 48px;
}
@media screen and (min-width: 1024px) {
  .services__contacts {
    flex-direction: row;
  }
}
.services__contacts .hero__content__info {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .services__contacts .hero__content__info {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .services__contacts .hero__content__info .hero__content__info-icon {
    max-width: 90px;
    max-height: 90px;
  }
}
.services__contacts__wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 10248px) {
  .services__contacts__wrap {
    width: 26%;
  }
}

.advantages {
  padding: 70px 0;
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.8) 0%, rgba(22, 22, 22, 0.8) 100%), url("../images/advantages.webp") center center/cover no-repeat;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding: 120px 0;
  }
}
.advantages__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .advantages__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.advantages__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #E1E1E1;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
@media screen and (min-width: 1024px) {
  .advantages__content {
    width: 43%;
  }
}
.advantages__items {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media screen and (min-width: 1024px) {
  .advantages__items {
    width: 52%;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 50px;
  position: relative;
}
.advantages__item:not(:nth-last-of-type(1)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 64px;
}
.advantages__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  aspect-ratio: 1;
  border-radius: 500px;
  background: url("../images/check.svg") center center/14px no-repeat, #F56200;
}
.advantages__item h3 {
  color: #fff;
}
.advantages__item p {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #E1E1E1;
}

.work {
  background-color: #F5F3ED;
}
.work__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.work__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .work__title {
    flex-direction: row;
  }
}
.work__items {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: flex-start;
}
.work__item {
  display: flex;
  padding: 16px 16px 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #242424;
  width: 100%;
  border-radius: 32px;
  align-self: flex-start;
}
@media screen and (min-width: 1024px) {
  .work__item {
    width: calc(33.3333333333% - 18px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .work__item {
    width: calc(50% - 9px);
  }
}
@media screen and (min-width: 1024px) {
  .work__item:nth-child(3n+2) {
    margin-top: 36px;
  }
}
.work__item__img {
  border-radius: 24px;
  max-height: 210px;
  width: 100%;
  min-height: 210px;
}
.work__item__img img {
  max-width: 100%;
  max-height: 210px;
  width: 100%;
  height: 100%;
  min-height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.work__item__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work__item__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .work__item__content p {
    font-size: 18px;
  }
}
.work__item__content ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.work__item__content ul li {
  position: relative;
  padding-left: 34px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.work__item__content ul li:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: url("../images/check2.svg") center center/10px no-repeat, #28BF37;
}
.work__item__title {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #fff;
}
.work__item__title span {
  background-color: #F56200;
  border-radius: 10px;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 48px;
  max-height: 48px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
@media screen and (min-width: 768px) {
  .work__item__title span {
    font-size: 30px;
    max-width: 64px;
    max-height: 64px;
  }
}

.area__container {
  display: flex;
  padding: 20px 20px 32px 20px;
  border-radius: 32px;
  background: #F3F3F3;
  gap: 20px;
  color: #2F2F2F;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .area__container {
    padding: 48px;
    border-radius: 48px;
    gap: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .area__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.area__frame {
  border-radius: 24px;
  max-height: 277px;
}
@media screen and (min-width: 1024px) {
  .area__frame {
    width: 52%;
  }
}
@media screen and (min-width: 768px) {
  .area__frame {
    max-height: 485px;
    border-radius: 32px;
  }
}
@media screen and (max-width: 1023.9px) {
  .area__frame {
    aspect-ratio: 1/1.05;
  }
}
.area__frame iframe, .area__frame img {
  border-radius: inherit;
  height: 100%;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .area__content {
    width: 44%;
  }
}
.area__content h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 20px;
  color: #161616;
}
@media screen and (min-width: 768px) {
  .area__content h2 {
    font-size: 30px;
  }
}
.area__content p, .area__content ul, .area__content ol {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 30px;
  color: #2F2F2F;
}
.area__items {
  display: flex;
  padding: 24px 30px;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid #F56200;
  background: #fff;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .area__items {
    margin-bottom: 48px;
  }
}
.area__items * {
  color: #161616;
}
.area__items span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.area__items ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .area__items ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
.area__items ul li {
  padding-left: 32px;
  position: relative;
}
.area__items ul li:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/local.svg") center center/15px no-repeat;
}
.area__btns {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .area__btns {
    flex-direction: row;
  }
}
.area__btns .btn-row-wrap a {
  color: inherit;
}
.area__btns .btn-row-wrap ul {
  margin-bottom: 0;
}
.area__btns .btn-row-wrap li {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact__wrap {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contact__wrap {
    flex-direction: row;
  }
}
.contact h2 {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 64px;
}
.contact__blocks {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contact__blocks {
    width: 36%;
  }
}
.contact__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.contact__item.btn-row {
  display: flex;
  padding: 40px 32px;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.08);
}
.contact__item.btn-row a {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.contact__item.btn-row * {
  color: #161616;
}
.contact__form {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contact__form {
    width: 58%;
    flex-direction: row;
  }
}
.contact__form .form-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 32px 32px 0 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact__form .form-img {
    width: 31%;
    border-radius: 32px 0 0 32px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact__form .form-img {
    max-height: 120px;
  }
}
.contact__form__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 0 0 32px 32px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.08);
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact__form__wrap {
    width: 69%;
    padding: 32px;
    border-radius: 0 32px 32px 0;
  }
}
.contact__form__wrap .form-title {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.contact__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .contact__socials {
    flex-direction: row;
  }
}
.contact__socials span {
  max-width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (min-width: 768px) {
  .contact__socials span {
    max-width: 125px;
  }
}
.contact__socials .socials a {
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
}
.contact__socials-items a {
  border-color: rgba(22, 22, 22, 0.4);
}
.contact form {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}
.contact form label {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.24px;
  color: #8B8B8B;
}
.contact form label:has(input[type=checkbox]) {
  color: #2F2F2F;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 11px;
}
.contact form label:has(input[type=checkbox]) a {
  color: #28BF37;
  text-decoration: underline;
}
.contact form label:has(input[type=checkbox]) div {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.contact form textarea {
  min-height: 120px;
  resize: none;
}
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
  background: #F3F3F3;
  border-radius: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.24px;
  color: #F56200;
  border: 2px solid transparent;
  outline: none;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.24px;
  color: #434343;
  opacity: 1;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.24px;
  color: #434343;
  opacity: 1;
}
.contact form input[type=checkbox] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  padding: 0px;
  background: transparent;
  margin: 0;
  border: none;
  border-radius: 4px;
  margin-right: 12px;
}
.contact form input[type=checkbox]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: 0.3s linear;
  border: 0.5px solid #37E15B;
  z-index: 1;
  border-radius: 4px;
}
.contact form input[type=checkbox]:checked:after {
  background: url(../images/check.svg) center center/10px no-repeat, #37E15B;
}
.contact .form-group {
  display: flex;
  width: calc(50% - 10px);
  position: relative;
  flex-direction: column;
  gap: 8px;
}
.contact .form-group input,
.contact .form-group textarea {
  padding-left: 36px;
}
.contact .form-group.valid input {
  border-color: #1DB956;
}
.contact .form-group.invalid input {
  border-color: #DC2828;
}
.contact .form-group.message-group {
  width: 100%;
}
.contact .form-group.message-group:before {
  background-image: url(../images/message.svg);
}
.contact .form-group:before {
  content: "";
  width: 14px;
  height: 14px;
  opacity: 0.8;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 38px;
  left: 12px;
}
.contact .form-group.name:before {
  background-image: url(../images/name.svg);
}
.contact .form-group.email:before {
  background-image: url(../images/email.svg);
}
.contact .form-group.phone:before {
  background-image: url(../images/phone.svg);
}
.contact .form-group.zip:before {
  background-image: url(../images/zip.svg);
}
.contact .input__wrap {
  display: flex;
  gap: 24px;
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  cursor: pointer;
}
.contact .input__wrap input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.form__sent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  padding: 32px;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s linear;
  visibility: hidden;
}
.sent .form__sent {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.close-form .form__sent {
  opacity: 0;
  visibility: 0;
  z-index: -1;
}
.form__sent .close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 16px;
  height: 16px;
}
.form__sent img {
  max-width: 100px;
  max-height: 100px;
  aspect-ratio: 1;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 500px;
}
.form__sent div {
  margin: 0 auto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.gallery__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .gallery__title {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__title h2 {
    max-width: 400px;
    width: 100%;
  }
}
.gallery__title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #2F2F2F;
}
@media screen and (min-width: 1024px) {
  .gallery__title p {
    max-width: 475px;
    width: 100%;
  }
}
.gallery__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .gallery__wrap {
    gap: 40px;
  }
}
.gallery .gallery__list {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 40px 0 30px;
  overflow: hidden;
  overflow-x: auto;
}
@media screen and (min-width: 768px) {
  .gallery .gallery__list {
    padding: 40px 0 40px;
  }
}
@media screen and (max-width: 1023.9px) {
  .gallery .gallery__list {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.gallery .gallery__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px 16px 16px 32px;
  border-radius: 14px;
  background: #DDD;
  transition: 0.3s linear;
  color: rgba(15, 15, 15, 0.5);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  white-space: nowrap;
}
.gallery .gallery__list__item span {
  border-radius: 6px;
  background: #EEE;
  padding: 6px 8px;
  color: rgba(15, 15, 15, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.gallery .gallery__list__item.active, .gallery .gallery__list__item:hover {
  color: #fff;
  background: #F56200;
  box-shadow: 0 0 48px 0 rgba(245, 98, 0, 0.2), 0 0 43.594px 0 rgba(245, 98, 0, 0.27), 0 0 16.25px 0 rgba(245, 98, 0, 0.2), 0 0 5.781px 0 rgba(245, 98, 0, 0.13);
}
.gallery .gallery__list__item.active span, .gallery .gallery__list__item:hover span {
  background-color: #fff;
  color: #F56200;
}
.gallery__items {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .gallery__items {
    display: grid;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .gallery__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .gallery__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
.gallery__item {
  border-radius: 24px;
  max-height: 400px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    max-height: 320px;
  }
}
.gallery__item img {
  max-height: inherit;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .btn-primary {
  margin: 0 auto;
}

.accord {
  display: flex;
  flex-direction: column;
}

.accord-item {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.accord-item-top {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: 0.3s linear;
}

.accord-item-bottom {
  margin-top: -37px;
  padding: 37px 24px 0 24px;
  transition: all 300ms linear;
  will-change: opacity, max-height, visibility;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  will-change: opacity, max-height;
  transition: margin-top 300ms linear, opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;
}

.icon-wrapper {
  position: relative;
  margin-left: auto;
}

.accord-item.active .accord-item-bottom {
  visibility: visible;
  opacity: 0;
  max-height: 5000px;
  overflow: visible;
  opacity: 1;
  padding: 37px 24px 24px 24px;
  margin-top: -16px;
  transition: margin-top 300ms linear, opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .faq__items {
    gap: 20px;
  }
}

.faq__item.active {
  filter: drop-shadow(0 0 5.781px rgba(245, 98, 0, 0.13)) drop-shadow(0 0 16.25px rgba(245, 98, 0, 0.2)) drop-shadow(0 0 43.594px rgba(245, 98, 0, 0.27)) drop-shadow(0 0 48px rgba(245, 98, 0, 0.2));
}

.faq h2:not(.faq__item__top h2) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .faq h2:not(.faq__item__top h2) {
    margin-bottom: 64px;
  }
}

.faq__item__top {
  padding: 28px 24px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #F3F3F3;
  gap: 15px;
}

.faq__item.active .faq__item__top p,
.faq__item.active .faq__item__top h2,
.faq__item.active .faq__item__top h3 {
  color: #fff;
}

.faq__item.active .faq__item__top {
  background-color: #F56200;
}

.faq__item.active .faq-icon-wrapper::before {
  transform: translate(-50%) rotate(0deg);
}

.faq__item__top * {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.18px;
  color: #161616;
}
@media screen and (min-width: 768px) {
  .faq__item__top * {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

.faq-icon-wrapper {
  margin-left: auto;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  background-color: #161616;
  border-radius: 50%;
  transition: 0.3s linear;
  border-radius: 7.5px;
}

.faq-icon-wrapper:before,
.faq-icon-wrapper:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  border-radius: 500px;
  background-color: #fff;
  transition: 0.3s linear;
}

.faq-icon-wrapper:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(90deg);
}

.faq-icon-wrapper:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.faq__item-bottom {
  border-radius: 0 0 16px 16px;
  border: 1px solid #F56200;
  border-top-color: transparent;
  background: #fff;
}

.faq__item-bottom-wrap * {
  color: #2F2F2F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.faq__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 64px;
}
@media screen and (min-width: 1024px) {
  .faq__container {
    flex-direction: row;
  }
}
.faq__img {
  width: 100%;
  border-radius: 32px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .faq__img {
    width: 41%;
  }
}
.faq__img img {
  position: relative;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  max-height: 542px;
  min-height: 542px;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .faq__img img {
    max-height: 810px;
  }
}
.faq__img__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #fff;
  position: absolute;
  padding: 32px;
  border-radius: 30px;
  background: #1B1B1B;
  bottom: 8px;
  left: 8px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .faq__img__info {
    max-width: 367px;
    bottom: 20px;
    left: 20px;
  }
}
.faq__img__info div span {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .faq__img__info div span {
    font-size: 25px;
  }
}
.faq__img__info div p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
@media screen and (min-width: 768px) {
  .faq__img__info div p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .faq__wrap {
    width: calc(59% - 64px);
  }
}

.footer {
  background-color: #0F0F0F;
  background-image: url(../images/pattern.png);
  background-position: center;
  border-radius: 32px 32px 0 0;
}
@media screen and (min-width: 768px) {
  .footer {
    border-radius: 48px 48px 0 0;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #fff;
  padding: 70px 0;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding: 90px 0;
    gap: 64px;
  }
}
.footer__container hr {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
}
.footer .logo {
  max-width: 200px;
  width: 100%;
  display: inline-block;
}
.footer .logo img {
  max-width: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__top {
    justify-content: space-between;
    flex-direction: row;
  }
}
.footer__top nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .footer__top nav ul {
    flex-direction: row;
  }
}
.footer__top nav ul a {
  color: #E1E1E1;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.footer__contacts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__contacts {
    align-items: center;
    flex-direction: row;
  }
}
.footer__contacts__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__contacts__item span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #E1E1E1;
}
.footer__contacts__item div, .footer__contacts__item a {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.footer__contacts__item a {
  transition: 0.3s linear;
}
.footer__contacts__item a:hover {
  color: #F56200;
}
.footer__contacts__item div a, .footer__contacts__item div span {
  color: #F56200;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__bottom {
    align-items: center;
    flex-direction: row;
  }
}
.footer__bottom .socials a {
  min-width: 48px;
}
@media screen and (min-width: 768px) {
  .footer__bottom .socials a {
    min-width: 64px;
  }
}
.footer__copy {
  border-radius: 32px 32px 0 0;
  background-color: #F56200;
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    border-radius: 48px 48px 0 0;
  }
}
.footer__copy p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #161616;
}
.footer__copy nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 300px;
}
.footer__copy nav ul li {
  width: -moz-fit-content;
  width: fit-content;
}
.footer__copy nav ul li a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2F2F2F;
  text-decoration: underline;
  transition: 0.3s linear;
}
.footer__copy nav ul li a:hover {
  color: #fff;
}
.footer__copy__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .footer__copy__container {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.footer__copy__container div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  gap: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #161616;
}
.footer__copy__container div img {
  max-width: 135px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */